#Ignore thumbnails created by Windows
Thumbs.db

#Ignore files created by Visual Studio
*.user
*.aps
*.pch
*.vspscc
*.vssscc
*.scc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
*.vs10x
*.sbr
[Pp]ub/
[Oo]bj/
[Bb]in/
[Bb]in/[Dd]ebug*/
[Bb]in/[Rr]elease*/
[Tt]est[Rr]esult*/
*.[Pp]ublish.xml
_ReSharper*/

#Ignore Sln for HTML 5 app
src/HTML5/*.sln
src/HTML5/.vs/